* { box-sizing: border-box; }
body {
background-color: #3F2860;
color: #40407A;
font-family: Verdana, Arial, sans-serif;
}
#wrapper {
background-color: #F5F5F5;
margin-left: auto;
margin-right: auto;
width: 80%;
min-width: 1200px;
max-width: 1480px;
}
header {
background-color: #80CBC4;
background-image: url(lilyheader.jpg);
background-position: right;
background-repeat: no-repeat;
height: 150px;
}
header a {text-decoration: none; }
header a:link { color: #40407A; }
header a: visited {color: #40407A; }
header a:hover {color: #FFFFFF;}
h1 {
padding-top: 50px;
padding-left: 2em;
}
nav {
float: left;
font-weight: bold;
padding: 1em;
width: 160px;
}
nav a { 
border: 3px outset #CCCCCC;
display: block;
margin-bottom: 1em;
padding: 1em;
text-align: center;
text-decoration: none; 
}
nav a:link { color:#3F2860; }
nav a:visited { color: #497777; }
nav a:hover { color: #A26100; border: 3px inset #333333; }
nav ul {
list-style-type: none;
padding-left: 0;
}
main {
display: block;
margin-left: 170px;
padding-left: 2em;
padding-right: 2em;
padding-top: 1em;
}
.clear { clear:both; }
.floatleft {
float: left;
margin-right: 4em;
margin-bottom: 1em;
}
.onehalf {
float: left;
padding-left: 2em;
padding-right: 2em;
width: 50%;
}
.onethird {
float: left;
padding-left: 2em;
padding-right: 2em;
width: 33%;
}
.studio { font-style: italic; }
#hero { 
padding-bottom: 1em;
padding-top: 1em;
}
footer {
background-color: #80CBC4;
font-size: .60em;
font-style: italic;
text-align: center;
padding: 1em;
}
